{% extends "layout.html" %}
{% block content %}
<table class="table table-striped">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>
                <img class="game-icon" src="{{game.background_image}}" />
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td class="game-name">
                <div>{{game.name}}</div>
            </td>
        </tr>
        <tr>
            <td>Release Date</td>
            <td class="game-name">
                <div>{{game.released}}</div>
            </td>
        </tr>
        <tr>
            <td>Rating</td>
            <td class="game-name">
                <div>{{game.rating}} / 5</div>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td class="game-name">
                <div>{{game.description | safe}}</div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}